<div class="container">
    <h1 class="large text-primary">Posts</h1>
    <p class="lead"><i class="fas fa-user">

    </i>Welcome to the community</p>
    <div class="post-form">
        <div class="bg-primary p">
            <h3>Say Something...</h3>
        </div><form class="form my-1">
            <textarea name="text" cols="30" rows="5" placeholder="Create a post" required=""></textarea>
            <br>
            <input type="submit" class="btn btn-dark my-1" value="Submit">
        </form>
    </div>
   
    <div class="posts">
        <div class="post bg-white p-1 my-1">
            <div>
                <a href="/profile/5f55e57124659850e356f3fd">
                    <img class="round-img" src="//www.gravatar.com/avatar/f4aca4a970b7ce4b5ed0464c86f9ba7c?s=200&amp;r=pg&amp;d=mm" alt="">
                    <h4>Princy Dwivedi</h4>
                </a>
            </div>
            
            <div>
                <p class="my-1">The Mouse programming language is a small computer programming language developed by Dr. Peter Grogono in the late 1970s and early 1980s.[1][2][3] It was developed as an extension of an earlier language called MUSYS, which was used to control digital and analog devices in an electronic music studio.Mouse was originally intended as a small, efficient language for microcomputers with limited memory. It is an interpreted, stack-based language and uses Reverse Polish notation. To make an interpreter as easy as possible to implement, Mouse is designed so that a program is processed as a stream of characters, interpreted one character at a time.

                </p>
                <p class="post-date">Posted on 
                    <time datetime="1599553950651">08/09/20
                        
                    </time>
                </p>
                <button type="button" class="btn btn-light">
                    <i class="fas fa-thumbs-up">

                    </i> 
                    <span>6</span>
                </button>
                <button type="button" class="btn btn-light">
                    <i class="fas fa-thumbs-down"></i> 
                </button>
                <a class="btn btn-primary" href="/posts/5f57419ed18e7b6398bf148a">Discussion 
                    <span class="comment-count">2</span>
                </a>
            </div>
            
        </div>
   
        <div class="post bg-white p-1 my-1">
            <div>
                <a href="/profile/5f55e22124659850e356f3ef">
                    <img class="round-img" src="//www.gravatar.com/avatar/509fb587fc85243f276b031a2fa4a0d7?s=200&amp;r=pg&amp;d=mm" alt="">
                    <h4>Harshit</h4>
                </a>
            </div>
            <div>
                <p class="my-1">React is an open-source JavaScript library for building user interfaces or UI components. It is maintained by Facebook and a community of individual developers and companies. React can be used as a base in the development of single-page or mobile applications

                </p>
                <p class="post-date">Posted on 
                    <time datetime="1599553749359">08/09/20</time>
                </p>
                <button type="button" class="btn btn-light">
                    <i class="fas fa-thumbs-up"></i> 
                    <span>4</span>
                </button>
                <button type="button" class="btn btn-light">
                    <i class="fas fa-thumbs-down">

                    </i> 
                </button>
                <a class="btn btn-primary" href="/posts/5f5740d5d18e7b6398bf1488">Discussion 
                    <span class="comment-count">1</span>
                </a>
            </div>
        </div>
    </div>
</div>